<!--<div class="tab-content">
  <section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
              <div class="mb-md-5 mt-md-4 pb-5">
                <p class=" mb-5 pb-lg-2">Fuel distribution system</p>
                <div class="form-outline form-white mb-4">
                  <a routerLinkActive="active" routeLink="/all" class="btn btn-outline-light btn-lg px-5">
                    All Orders
                  </a>
                </div>
                <div class="form-outline form-white mb-4">
                  <a routerLink="/create" class="btn btn-outline-light btn-lg px-5"> Create Order </a>
                </div>
                <div class="form-outline form-white mb-4">
                  <button class="btn btn-outline-light btn-lg px-5" type="submit">Order Recieve confirm</button>
                </div>
                <div class="form-outline form-white mb-4">
                  <button class="btn btn-outline-light btn-lg px-5" type="submit">Report</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
  -->

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item">
              <a routerLink="/all" class="btn btn-info">List Orders</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/create" class="btn btn-info">Add Order</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/view" class="btn btn-info">View Order</a>
            </li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

