<div class="tab-content  ">
  <section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center" >
              <div class="mb-md-5 mt-md-4 pb-5" >
                <form (ngSubmit)="onSubmit()">

                  <p class="text-white-50 mb-5">Enter order details</p>
                  <label> Station Name: </label>
                  <div class="form-outline form-white mb-4">
                    <input type="text" class="form-control" id="gasStationName" required [(ngModel)]="order.gasStationName" name="gasStationName">
                  </div>

                  <label> Station id: </label>
                  <div class="form-outline form-white mb-4">
                    <input type="text" class="form-control" id="gasStationId" required [(ngModel)]="order.gasStationId" name="gasStationId">

                  </div>

                  <label> Type of fuel: </label>
                  <div class="form-outline form-white mb-4">
                    <input type="text" class="form-control" id="typeOfFuel" required [(ngModel)]="order.typeOfFuel" name="typeOfFuel">

                  </div>

                  <label> Amount in litres: </label>
                  <div class="form-outline form-white mb-4">
                    <input type="text" class="form-control" id="capacityInLitres" required [(ngModel)]="order.capacityInLitres" name="capacityInLitres">

                  </div>

                  <button class="btn btn-outline-light btn-lg px-5" type="submit">Submit</button>

                 
                </form>

                <div [hidden]="!submitted" >
                  <h4>You submitted successfully!</h4><br />
                  <h1>Your reference no is: </h1>
                  <h1>{{order.referenceNumber}}</h1>

                </div>


              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
